<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/knockout.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/App.js")" type="text/javascript"></script>
</head>
<body>
    <div class="page">
        <header id="header">
            <div id="logo">
                <h1><a href="@Url.Action("Home", "Index")">Where It Goes</a></h1>
            </div>
            <nav>
                <div id="menu">
                    <ul>
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Categories", "Categories", "Home")</li>
                        <li>@Html.ActionLink("Upload Statements", "UploadStatements", "Home")</li>
                    </ul>
                </div>
            </nav>
        </header>
        <section id="page">
            <div id="content">
                @RenderBody()
            </div>
        </section>
        <footer>
        </footer>
    </div>
</body>
</html>

@foreach (string script in ViewBag.Scripts ?? new string[0])
{ 
    <script src="@Url.Content(script)" type="text/javascript"></script>
}

@foreach (string style in ViewBag.Styles ?? new string[0])
{ 
    <link href="@Url.Content(style)" rel="stylesheet" type="text/css" />
}